.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 100vh;
  padding: 2rem;
}

.currentBanner {
  display: flex;
  flex-direction: row;
}

.pageTitle {
  z-index: 50;
}

.pageTitle h2 {
  font-family: Work Sans;
  margin: 0;
  font-size: 1.8rem;
  font-weight: 800;
}

.date {
  margin-top: 0.3rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.currentTemp {
  display: block;
  font-family: Poppins;
  height: 130px;
}
.currentTemp h3 {
  font-size: 5.5rem;
  font-weight: 900;
  margin: 0;
}
.currentTemp h3 span {
  font-size: 3rem;
  font-weight: 900;
  position: relative;
  bottom: 30px;
  right: 15px;
}

.icon {
  z-index: 10;
}

.table {
  width: 70%;
  text-align: left;
  border-collapse: collapse;
  margin-left: 0.5rem;
  font-family: Poppins;
}

.table td {
  padding: 0.1rem, 1rem;
}
